header{
  padding: 15px;
  background-color: #436AB2;
  color: #fff;

  h1{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0;
  }
}

main{
  display: flex;
  justify-content: center;
  height: calc(100% - 100px);
  section{
    margin-top: 20px;
    min-width: 60%;
    min-height: 100%;
    border: 1px solid gray;
    border-radius: 4px;
  }
}


@media (max-width:480px) {
  main>section{
    min-width: 95%;
  }
}
