section{
  height: 100%;
  overflow-y: scroll;
  header{
    h1{
      text-align: center;
    }
  }

  main{
    mat-card{
      margin-bottom: 20px;
      mat-card-content{
        display: flex;
        .info{
          margin-left: 30px;
          margin-top: 10px;
          p{
            &:first-child{
              font-size: 16px;
              font-weight:600;
            }
          }
        }
      }
    }
  }

  footer{
    position: sticky;
    bottom: 0;
    background-color: #436AB2;
    padding: 1px;
  }
}
